* {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --callForAction: #0d6efd;
}

p {
  margin: 0 !important;
}

textarea {
  resize: none !important;
}

.scroll-button-wrapper {
  border-radius: 50%;
  background-color: var(--bs-body-color);
  right: 2rem;
  bottom: 3rem;
  padding: 1rem 1rem;
  cursor: pointer;
  display: none;
  position: fixed;
  z-index: 100;
  box-shadow: grey 1px 1px 5px 0.1px;
}

.header-wrapper {
  padding: 8% 8% 6% 8%;
  background-color: ghostwhite;
}

.header-row {
}

.header-left {
  padding-left: 5% !important;
}

.heading-text {
  font-weight: 500 !important;
  font-size: 8rem !important;
}

.heading-subtext {
  margin-top: 6% !important;
  font-size: 3rem;
}

.header-button {
  font-size: 1.6rem !important;
  padding: 1rem 7rem !important;
  font-weight: 500 !important;
  margin-top: 5rem;
  width: fit-content;
  box-shadow: var(--callForAction) 1px 1px 5px 0.1px;
}

.header-right {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}

.header-image {
  width: -webkit-fill-available;
}

.column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}

.column-center:hover {
  background-color: ghostwhite;
  transition: all 0.3s ease-in-out;
  transform: scale(1.05);
}

.services-wrapper {
  padding: 6% 8%;
}

.services-wrapper h2 {
  text-align: center;
  font-weight: 500 !important;
  margin-bottom: 5%;
}

.services-wrapper p {
  font-weight: 300;
  font-size: 2.5rem;
}

.services-image {
  height: 20rem;
  width: 20rem;
}

.uiux-image {
  transform: scale(1.2);
}

.website-image {
  transform: scale(1.2);
}

.spa-image {
  transform: scale(0.8);
}

.cloud-image {
  transform: scale(0.8);
}

.services-button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 7rem;
}

.services-button {
  font-size: 1.6rem !important;
  padding: 1rem 7rem !important;
  font-weight: 500 !important;
  box-shadow: var(--callForAction) 1px 1px 5px 0.1px;
}

.companies-wrapper {
  padding: 4% 8% 0 8%;
  background-color: ghostwhite;
}

.companies-wrapper h2 {
  text-align: center;
  font-weight: 500 !important;
  margin-bottom: 5%;
}

.companies-logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.companies-logo-wrapper > img {
  width: 15rem;
  height: 8rem;
  object-fit: contain;
}

.carousel {
  background-color: ghostwhite;
  padding: 0 0 3% 0;
}

.carousel-inner {
  display: flex;
  align-items: center;
  min-height: 32rem;
}

.slide-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote-icon {
  margin-bottom: 1%;
}

.slide-item > p {
  width: 70%;
  text-align: center;
  font-size: 1.4rem;
  word-break: keep-all;
  font-style: italic;
  overflow: hidden;
  max-height: 10rem;
  margin: 2rem 0;
}

.slide-image-container {
  text-align: center;
  margin-top: 1%;
}

.slide-image-container > div {
  margin: 1rem auto 0 auto;
  border-radius: 50%;
  height: 7.5rem;
  width: 7.5rem;
}

.slide-image-container > div > img {
  height: inherit;
  width: inherit;
  border-radius: inherit;
  object-fit: cover;
}

.slide-image-container > h6 {
  font-size: 1.3rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.slide-image-container > p {
  font-size: 1.2rem;
  margin-bottom: 0;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

.footer-wrapper {
  padding: 4% 8%;
}

.footer-left {
  padding: 0 5% !important;
}

.footer-right {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
}

.footer-heading {
  margin-bottom: 3rem;
  font-weight: 500 !important;
}

.footer-connect-image {
  max-width: -webkit-fill-available;
}

.footer-input {
  padding: 1.5rem 2rem !important;
  font-size: 1.4rem !important;
  margin-bottom: 2rem;
}

.footer-button {
  font-size: 1.6rem !important;
  padding: 1rem 5rem !important;
  font-weight: 500 !important;
  box-shadow: var(--callForAction) 1px 1px 5px 0.1px;
}

.toast {
  padding: 2rem 2.5rem !important;
  font-size: 1.4rem !important;
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .header-image {
    padding-top: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .header-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0 !important;
  }
  .header-image {
    margin-top: 3rem;
  }
  .heading-text {
    font-size: 4rem !important;
  }
  .heading-subtext {
    font-size: 2rem;
  }
  .companies-wrapper {
    padding: 8% 8% 0 8%;
  }
  .companies-logo-wrapper > img {
    width: 13rem;
  }
  .footer-wrapper,
  .services-wrapper,
  .header-wrapper {
    padding: 8%;
  }
  .footer-left {
    padding: 0 !important;
  }
}
